.modal-content{
	height: 500px;
}

.modal-content .title{
	display: inline;
}

.modal-body{
	height: 360px;
}

.pointer{
	cursor:pointer;
}

.modal-body .list-group{
	max-height: 330px;
    overflow-y: scroll;
	padding-right: 5px;
}

.downloading{
	margin: auto;
	width: 100px;
	height: 100px;
}

