<div id="select-ftp" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div>
			    <button ng-disabled="currentPath.length<=1" type="button" class="btn btn-info" ng-click="goUp()">
				  <span class="glyphicon glyphicon glyphicon-level-up"></span>Up
				</button>
				<button type="button" class="btn btn-info" ng-click="refresh()">
				  <span class="glyphicon glyphicon glyphicon-refresh"></span>Refresh
				</button>
				<span class="title">Chọn file</span>
		</div>
      </div>
      <div class="modal-body">
		<div ng-show="isLoading" class="loading" >
			<img src="img/downloading.gif">
			<span>Đang dò</span>
		</div>
		<div ng-show="!isLoading && items.length==0"  class="folder-empty">
			Thư mục rỗng, bấm nút "Up" để quay về thư mục cha
		</div>
		<div ng-show="!isLoading" class="list-group">
			<a ng-repeat="item in items" ng-class="{'active': selectedIndex == $index}" ng-click="onItemSelected($index)" class="list-group-item pointer">{{item.name}}</a>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" ng-disabled="selectedIndex<0" class="btn btn-primary" ng-click="selectFile()">Chọn file</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->