<div class="post-form">
	
	<div class="alert alert-success" ng-class="messageClass" ng-show="message.length>0">
	  {{message}}
	</div>
	<form class="form-horizontal">
		<div class="form-group">
		  <div class="col-sm-10 col-sm-offset-2">
			<h2>Thêm bài viết</h2>
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="control-label col-sm-2" for="title">Tiêu đề:</label>
		  <div class="col-sm-10">
			<input ng-model="post.title" type="text" class="form-control" id="title" placeholder="Tiêu đề" autocomplete="off">
		  </div>
		</div>
		
		
		
		<div class="form-group" ng-show="!showUpload">
		  <label class="control-label col-sm-2" for="form_url">Đường dẫn:</label>
		  <div class="col-sm-10">
			<input ng-model="post.url" type="text" class="form-control" id="form_url" placeholder="http://" autocomplete="off">
		  </div>
		</div>

		<div class="form-group">
		  <div class="col-sm-10 col-sm-offset-2">
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#select-ftp">Chọn file</button>
		  </div>
		</div>
		
		<div class="form-group" ng-show="showUpload">
		  <label class="control-label col-sm-2" for="file">Upload file:</label>
		  <div class="col-sm-10">
			<input type="file" class="form-control" id="file" placeholder="http://" >
		  </div>
		</div>
		
		<div class="form-group" ng-show="showUpload">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-default">Upload</button>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button ng-click="submit()" class="btn btn-primary">Thêm bài viết</button>
			</div>
		</div>
		
	</form>
</div>