<div class="wrapper">
	<div class="form-signin">       
		<h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
		  <hr class="colorgraph"><br>
		  <span ng-model="message"><span>
		  <input type="text" class="form-control" ng-model="username" name="username" placeholder="Username" required="" autofocus="" />
		  <input type="password" class="form-control" ng-model="password" name="password" placeholder="Password" required=""/>     		  
		 
		  <button class="btn btn-lg btn-primary btn-block" ng-click="submit()" name="Submit" value="Login">Login</button>  			
	</div>			
</div>